{
	"wwwDir"           : "/var/www/joomla-cms",
	"browserSyncProxy" : "localhost",
	"extensions"       : {
		"components" : ["github"],
		"libraries"  : ["phproberto"],
		"modules"    : {
			"frontend"       : ["card"]
		}
	}
}