$color-main: #999;
$color-highlight: #fff;
$color-background: #2E353C;
$color-link: $color-main;
$color-border: #555;

.mod-phproberto-ghcard.dark {
	@extend .mod-phproberto-ghcard.medium;
	.user-card .header {

	}
	.github-card {
		background: none repeat scroll 0 0 $color-background;
		color: $color-main;
		a {
			color: $color-link;

			&:hover {
				color: $color-link-hover
			}
		}
	}
	.user-card h2 {
		color: $color-highlight;
	}
	.github-card strong {
		color: $color-main;
	}
	.user-card h2 span {
		color: $color-main;
	}
	.github-card .status li {
		box-shadow: 1px 0 0 $color-border;
	}
	.github-card ul {
		border-bottom: 1px solid $color-border;
		border-top: 1px solid $color-border;
	}
	.github-card .footer {
		padding: 10px;
	}
}
